<!DOCTYPE html>
<html>

<!-- Mirrored from capitalswiss.click/progress/index?transId=st3u7crgNHyIJvLl8A46 by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Jan 2025 06:34:56 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&amp;display=swap" rel="stylesheet">
<link rel="icon" href="/assets/img/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="/page.css">
<!-- Site Name, Title, and Description to be displayed -->
<meta property="og:site_name" content="Capital Swiss">
<meta property="og:title" content="Capital Swiss">
<meta property="og:description" content="Discover comprehensive banking solutions with Capital Swiss. We provide secure personal and business banking services, innovative financial products, and exceptional customer support to help you achieve your financial goals.">
<meta property="og:image" content="/assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" />
<meta property="og:image:width" content="1920" />
<meta property="og:image:height" content="1080" />

<!-- Image to display -->
<!-- Replace   «example.com/image01.jpg» with your own 
<meta property="og:image" content="https://veritasglobalplc.online/wp-user/photos/">-->

<!-- No need to change anything here
<meta property="og:type" content="website" />
<meta property="og:image:type" content="image/jpeg"> -->

<!-- Size of image. Any size up to 300. Anything above 300px will not work in WhatsApp 
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">-->

<!-- Website to visit when clicked in fb or WhatsApp-->
<meta property="og:url" content="/">

</head>
<body>
<div class="content">
<div class="top">
<div class="h3ad">
<img class="30%" width="10%" src="/assets/img/logo.jpg" alt="" class="src">
<div class="ri">
<a class="msg" href="mailto:cshrem04@gmail.com"></a>
<div ><img class="flag" width="2%" src="/assets/img/logo.jpg" alt=""></div>
</div>
</div>
<br/>
<div class="l1">Hey&nbsp;<div class="recipient"><%=paytracker.firstname%> <%=paytracker.lastname%>,</div></div>
<div class="l2"> <div class="r1"><div class="sender" style="color: #FFD000 !important;"><%=paytracker.Bankname%></div>&nbsp;<%=paytracker.sentMess%></div>
$<%=paytracker.amount%></div> 
</div> 
<div class="nextl" style="margin-top:20px;"> 
<div class="m1">
<div class="le">
<div class="dot"></div>
<div ><%=paytracker.Bankname%> made a  <%=paytracker.amount%> transfer </div>
</div>
<div class="ri"><div class="btnn"><%= new Date().getDate() %> <%= new Date().toLocaleString('default', {month: 'long'});  %>,<%= new Date().getFullYear();  %></div></div>
</div>
<div class="tp">
<div class="le">Transaction Progress</div>
<div class="ri"><%=paytracker.progress%>%</div>
</div>
<div class="pcontainer">
<div class="pin" style="width:<%=paytracker.progress%>%;"  ></div> 
</div> 
<!---->
<div class="message">
<div class="heading">
<div class="le">
<div class="dot gold "></div>
<div class="txt">
<div class="txt1">Foreign Transaction Fees </div>
</div>
</div>
<div class="ri">
<div class="btnn gold" > <%=paytracker.FStatus%></div></div>
</div>
<div class="txt2"><%=paytracker.senMess%>: $<%=paytracker.Fees%></div>
</div>
<!--
-->
<div class="message">
<div class="heading">
<div class="le">
<div class="dot red "></div>
<div class="txt">
<div class="txt1">Maturity date  </div>
</div>
</div>
<div class="ri">
<div class="btnn red" > <%=paytracker.mstatus%></div></div>
</div>
<div class="txt2"><%=paytracker.Mmessage%></div>
</div>

<!--
-->

</div> 
<div style="margin-top: 1.5rem;">
<img src="/visa.svg" />
</div>
<div class="fo">
    PayPulse is an authorised electronic money institution (EMI) authorized by the Financial Conduct Authority (FCA) under the Electronic Money regulations 2011 (EMRs) and the Payment Services Regulations 2017 (PSRs) (Firm registration number: 991295) to issue electronic money and providing payment services. Our registered office is 1a Old Street Yard, White Collar Factory, EC1Y 8AF, London, United Kingdom. <br/>
<br/>PayPulse Lithuania UAB is an electronic money institution established in the Republic of Lithuania, authorised and regulated by the Bank of Lithuania. Registered address: Palangos str. 4, Vilnius, Lithuania, number of registration 304871705, FI Code 32400. Our registered office is 1a Old Street Yard, White Collar Factory, EC1Y 8AF, London, United Kingdom.<br/>
<br/>
Copyright 2025 PayPulse Ltd
</div>
<!-- Start of LiveChat (www.livechat.com) code -->
<!-- <script>
window.__lc = window.__lc || {};
window.__lc.license = 18237537;
window.__lc.integration_name = "manual_onboarding";
window.__lc.product_name = "livechat";
;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
</script> -->
<!-- <noscript><a href="https://www.livechat.com/chat-with/18237537/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechat.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
End of LiveChat code -->

</div>

</body>

<!-- Mirrored from capitalswiss.click/progress/index?transId=st3u7crgNHyIJvLl8A46 by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Jan 2025 06:35:00 GMT -->
</html>